{% extends 'base.html' %}
{% load static %}
{% block index %}
	<!-- карусель -->
  	{% include 'carusel.html' %}
  	<!-- Карточки -->
  	{% include 'price.html' %}
  	<!-- форма -->
  	<section>
  		<div class="container class_form">
  			<h1 class="text-3">Leave a request and get a service</h1>
  			<div class="row justify-content-center">
  			<form action="{% url 'thanks_first' %}" method="POST" style="width: 50%;">
				{% csrf_token %}
				{{ form.as_p }}
			  <div style="float: right;" class="form-group row">
			      <button type="submit" class="btn btn-success">SUBMIT YOUR APPLICATION</button>
			  </div>
			</form>
			</div>
  		</div>
  	</section>
{% endblock %}
